body {
    background-color: #031927;
    color: antiquewhite;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #0ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #081b29;
}

.header {
    color: #fff;
    padding: 25px;
    animation: slideRight .5s ease forwards;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
    text-decoration-style: solid;
}

h1 {
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
    font-size: 40px;
}

.navbar ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 50px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: solid;
    color: aqua;
    text-shadow: 0 0 20px rgb(28, 240, 255);
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 70px 8% 0;
}

.home-content {
    width: 70%;
    font-weight: 700;
    margin: -3px 0;
}

.name {
    text-shadow: 4px 4px 2px rgba(0, 238, 255, 0.6);

}

h3 {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    font-size: 30px;
}

.home-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    font-size: 20px;
    line-height: 1.4;
}

.img {
    width: 15%;
    padding: 35px;
    filter: drop-shadow(16px 7px 8px #0ef);
    border-color: aqua;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    width: 100%;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 30px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.home-sci a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px rgb(28, 240, 255);
}

span {
    color: #0ef;
}

.about {
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-text h2 {
    font-size: 40px;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.8;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 6rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   
}

.card {
    background-color: #081b29;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(28, 240, 255);
    margin-bottom: 20px;
}

.card h5 {
    color: #0ef;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    color: aliceblue;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.book.skills {
    display: flex;
    height: 1%;
    width: 95%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: #0ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #081b29;
}

.book.skills h2 {
    font-size: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.grid-item {
    width: 80%;
}

.skill-card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #081b29;
    max-width: 1000px;
    border: 2px solid #0ef;
    transition: transform 0.3s ease-in-out;

}

.skill-card:hover {
    transform: scale(1.05);


}

.skill-card i {
    font-size: 64px;
    color: #0ef;
}

.skill-card h3 {
    color: aliceblue;
    font-size: 20px;
    margin-top: 15px;
}



.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.skill-card {
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #081b29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #0e0e0e;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.bar {
    height: 100%;
    border-radius: 5px;
    animation: fillBar 2s ease-in-out;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 14px;
}


.html {
    width: 80%;
    background-color: #e44d26;
}

.css {
    width: 70%;
    background-color: #264de4;
}

.javascript {
    width: 75%;
    background-color: #f0db4f;
}

.java {
    width: 70%;
    background-color: #680894;
}

.mysql{
    width: 80%;
    background-color: #b30e8f;
}

.github {
    width: 60%;
    background-color: #c52828;
}

.manual{
    width: 85%;
    background-color: #4db33d;
}

h2 {
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.projects {
    padding: 20px;
    background-color: #081b29;
}

.projectcard p {
    color: aliceblue;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.book.services {
    display: flex;
    height: 20%;
    width: 95%;
    padding: 20px;
    margin: 20px;
    border-color: #0ef;
    background-color: #081b29;
}

.projects {
    max-width: 1440px;
    margin: auto;
    border: 2px solid #0ef;
    padding: 20px;
    border-radius: 10px;

}

.moreprojects {
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(28, 240, 255);
    margin-bottom: 20px;
    gap: 5px;
    color: #0ef;
    text-decoration: none;
}

.moreprojects:hover {
    font-size: 16px;
}

.services {
    padding: 20px;
    background-color: #081b29;
}

.services-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.profile-card {
    background-color: #081b29;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(28, 240, 255);
    margin-bottom: 20px;
    gap: 5px;
    color: #0ef;
}

.profile-card p {
    color: aliceblue;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

h4 {
    color: #0ef;
    font-size: 18px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .book {
        padding: 10px;
        margin: 10px;
    }

    .home {
        padding: 30px 5%;
    }

    .home-content {
        width: 100%;
    }

    .img {
        width: 50%;
        padding: 10px;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .skills-container,
    .card-container,
    .profile-card,
    .projects,
    .services {
        width: 100%;
        padding: 10px;
    }

    .about-text {
        text-align: center;
    }

    .skills-container,
    .card-container,
    .profile-card,
    .projects,
    .services {
        width: 100%;
        padding: 10px;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 100%;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .profile-card {
        width: 100%;
        margin: 0;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 767px) {
    .book {
        padding: 10px;
        margin: 10px;
    }

    /* Additional adjustments for other elements as needed */
}

/* Medium-sized screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .book {
        padding: 20px;
        margin: 20px;
        font-size: 16px;
        /* Add any other specific styles for this range */
    }

    /* Additional rules for medium-sized screens ... */
}

/* Screens between 992px and 1199px wide */
@media (min-width: 992px) and (max-width: 1199px) {
    .book {
        padding: 30px;
        margin: 30px;
        font-size: 18px;
        /* Add any other specific styles for this range */
    }

    /* Additional rules for larger screens ... */
}

/* Screens wider than 1200px */
@media (min-width: 1200px) {
    .book {
        padding: 40px;
        margin: 40px;
        font-size: 20px;
        /* Add any other specific styles for this range */
    }

    /* Additional rules for extra-large screens ... */
}


@media (max-width: 600px) {
    .profile-card {
        width: 100%;
        margin: 0;
    }
}



@media (max-width: 600px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@keyframes fillBar {
    0% {
        width: 0;
    }

    100% {
        width: var(--bar-width);
    }
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes cardslide {
    0% {
        transform: skew(10deg);
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 0;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20 #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.submit {
    align-items: center;
    background-color: #555557;
    border: 0;
    border-radius: 100px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(28, 240, 255);
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 500px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;

}

.submit:hover,
.submit:focus {
    background-color: #0ef;
    color: #ffffff;
}

.submit:active {
    background: #0ef;
}

.submit:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.contact-form form.send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, o o 2oopx cyan;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background-color: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
